################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CsLuaCompiler/obj/Debug
/CsLuaCompiler/CsLuaCompiler.csproj.user
