################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CsLuaCompiler/obj/Debug
/CsLuaCompiler/CsLuaCompiler.csproj.user
/CsLuaAttributes/bin/Debug
/CsLuaAttributes/obj/Debug
/.vs/CsLuaCompiler/v14
/CsLuaCompiler/bin/Debug
/CsLuaCompiler.suo
/CsLuaCompiler.v11.suo
/CsLuaConverter/CsLuaAttributes/bin/Debug
/CsLuaConverter/CsLuaAttributes/obj/Debug
/CsLuaConverter/CsLuaConverter/bin/Debug
/CsLuaConverter/CsLuaConverter/obj/Debug
/CsLuaConverter/.vs/CsLuaConverter/v14/.suo
/CsLuaConverter/CsLuaConverter/CsLuaConverter.csproj.user
/CsLuaCompiler.v12.suo
/CsLuaCompiler.sln.DotSettings.user
/CsLua.v12.suo
/CsLuaConverter/CsLuaConverter.sln.DotSettings.user
/CsLuaConverter/CsLuaConverter.v12.suo
/CsLuaConverter/CsLuaFramework/bin/Debug
/CsLuaConverter/CsLuaFramework/obj/Debug
/CsLuaConverter/Lua/bin/Debug
/CsLuaConverter/Lua/obj/Debug
/CsLuaTest/.vs/CsLuaTest/v14
/CsLuaTest/CsLuaTest/bin/Debug
/CsLuaTest/CsLuaTest/obj/Debug
/CsLuaTest/CsLuaTestRunner/bin/Debug
/CsLuaTest/CsLuaTestRunner/obj/Debug
